{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}

<table class="table table-dark">
  <thead>
    <tr>
        <th scope="col">Société</th>
      <th scope="col">Prénom</th>
      <th scope="col">Nom</th>
      <th scope="col">email</th>
      <th scope="col">iBAN</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for clients in client %}
      <td>{{ clients.Societe }}</td>
      <td>{{ clients.Prenom }}</td>
       <td>{{ clients.Nom }}</td>
      <td>{{ clients.email }}</td>
       <td>{{ clients.iBAN }}</td>
       <td> <a  class="btn btn-danger" href="{{ path('edit_client', {'id':clients.id}) }}">Modifié</a></td>
      <td> <a  class="btn btn-danger" href="{{ path('delate_client', {'id':clients.id}) }}">Supprimé</a></td>
                        
    </tr>
    <tr>
      {% endfor %}
    </tr>
  </tbody>
</table>
<a  class="btn btn-success" href="/create-client">Ajouter chaton</a>
{% endblock %}
